append style
    link(href=require('Styles/container.scss') rel='stylesheet')

section.section_banner
    img(src=require('Images/banner.png')).section_banner_image
    .container 
        include banner/banner