.control {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    &-item{
        margin-left: 75px;
    }
    &-btn {
        background-color: transparent;
        border: none;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        &_search { 
            background-image: url("Images/menu/search.svg");
            width: 18px;
            height: 18px;}
        &_notice { 
            background-image: url("Images/menu/notice.svg");
            width: 21.3px;
            height: 23.5px;
        }
        &_account { 
            background-image: url("Images/menu/account.svg");
            width: 18px;
            height: 19px;
        }
        }

}