.container {
    margin:0 auto;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
}

.section_banner {
    border-bottom: .1rem solid #2f2e2e;
    position: relative;
    overflow: hidden;
    &_image {
        position: absolute;
        right: 0;
        z-index: -1;
    }
}