@import 'fonts';
@import 'shared';

.section { 
    &_h2 { 
        font-size: 28px;
        line-height: 20px;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
        &::before {
            content: '';
            display: block;
            width: 8px;
            height: 35px;
            border-radius: 50px;
            background: $bg-gradient-safe;
            background: $bg-gradient;
            position: absolute;
            left: 0;
            top: calc(50% - 17px);
        }
    &::after {
        content: '';
        display: block;
        width: 9px;
        height: 15.5px;
        background-image: url("Images/title-arrow.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 0;   
        top: calc(50% - 7px);
    }
    &-link{
        color: white;
        text-decoration: none;
        font-family: "Mulish Bold", sans-serif;
        font-weight: 700;
    }}
}

.movies { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_item {
        transition: .3s ease box-shadow;
        box-shadow: 0px 0px 20px rgba(44, 176,249,0);
        border-radius: 20px;
        flex: 0 0 14%;
        &:hover{
            box-shadow: 0px 0px 20px rgba(44, 176,249,0.5);
        }
    }
    &-link{
        overflow: hidden;   
        position: relative;
        width: 100%;
        height: 309px;
        display: block;
    }
    &_img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
        }