@font-face {
    font-family: 'Mulish ExtraBold';
    src: url('Fonts/Mulish-ExtraBold.ttf') format('truetype'); }

@font-face {
    font-family: 'Mulish Bold';
    src: url('Fonts/Mulish-Bold.ttf') format('truetype'); }

@font-face {
    font-family: 'Marcellus';
    src: url('Fonts/Marcellus-Regular.ttf') format('truetype'); }

@font-face {
    font-family: 'Mulish Regular';
    src: url('Fonts/Mulish-Regular.ttf') format('truetype'); }