@import 'fonts';
footer {
    background-color: #101012;
    padding: 70px 0 50px;
}

.footer {
    display: flex;
    justify-content: space-between; 
    max-width: 144rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
    &_list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        &_link{
            font-family: 'Mulish Bold', sans-serif;
            text-decoration: none;
            color: #C2C2C2;
            font-size: 18px;
        }
        &_item {
            margin-bottom: 20px;
        }
    }
}