append style
    link(href=require('Styles/control.scss') rel='stylesheet')

ul.control
    li.control-item
        button.control-btn.control-btn_search
    li.control-item
        button.control-btn.control-btn_notice
    li.control-item
        button.control-btn.control-btn_account