append style
    link(href=require('Styles/header.scss') rel='stylesheet')

header 
    .header
        a(href="#")
            img(src=require('Images/logo.svg'))
        include nav
        include control
        