append style
    link(href=require('Styles/nav.scss') rel='stylesheet')
nav
    ul.nav
        li.nav-item
            a(href="").nav-link.active Home
        li.nav-item
            a(href="#tvshows").nav-link TV Shows 
        li.nav-item
            a(href="#movies").nav-link Movies 
        li.nav-item
            a(href="").nav-link Series