append style
    link(href=require('Styles/footer.scss') rel='stylesheet')

footer
    .footer
        .footer_item
            a(href="#")
                img(src=require('Images/logo.svg'))
        .footer_item
            ul.footer_list
                li.footer_list_item
                    a(href="#").footer_list_link Voice over and Subtitle
                li.footer_list_item
                    a(href="#").footer_list_link Media Center
                li.footer_list_item
                    a(href="#").footer_list_link Privacy
                li.footer_list_item
                    a(href="#").footer_list_link Contact us
        .footer_item
            ul.footer_list
                li.footer_list_item
                    a(href="#").footer_list_link Voice description
                li.footer_list_item
                    a(href="#").footer_list_link Investor Relations
                li.footer_list_item
                    a(href="#").footer_list_link Legal Provisions
        .footer_item
            ul.footer_list
                li.footer_list_item
                    a(href="#").footer_list_link Help Center
                li.footer_list_item
                    a(href="#").footer_list_link Job Opportunities 
                li.footer_list_item
                    a(href="#").footer_list_link Cookies Preferences
        .footer_item
            ul.footer_list
                li.footer_list_item
                    a(href="#").footer_list_link Gift Cards
                li.footer_list_item
                    a(href="#").footer_list_link Terms of Use
                li.footer_list_item
                    a(href="#").footer_list_link Corporate Information