append style
    link(href=require('Styles/index.scss') rel='stylesheet')

doctype html
html(lang="en")

    head
        title Hello world
    body 
        include modules/header/header
        include modules/banner
        include modules/content
        include modules/footer/footer
